#block-text.block
  .content
    %h2.title Your Tasks 
    .inner
      - @tasks.each do |task|
        %h1= task.name
        %p.hightlight= task.description
        %p
          Days complete: 
          = "#{task.days_complete}, "
          Days total:
          = task.days_total
        %hr/
- content_for :sidebar, render(:partial => 'sidebar')
