!!!
%html
  %head
    %title dots2done
    = include_stylesheets :app, :media => 'all'
    = include_javascripts :app 
    
    = csrf_meta_tag
    = yield :head
  %body
    #container
      #header
        %h1
          - if session[:user]
            = link_to "dots2done", dashboard_path
          - else 
            %a{:href => "/"} dots2done
        #user-navigation
          %ul.wat-cf
            - if session[:user]
              %li 
                %a{:href => "#"}= session[:user].name
              %li
                %a{:href => "#"}= t("web-app-theme.settings", :default => "Settings")
              %li
                %a.logout{:href => logout_path}= t("web-app-theme.logout", :default => "Logout")
            - else
              %li
                %a.login{:href => users_path}= t("web-app-theme.login", :default => "Login") 
        #main-navigation
          %ul.wat-cf
      #wrapper.wat-cf
        .flash
          - flash.each do |type, message|
            %div{:class => "message #{type}"}
              %p= message
        #main
          = yield
          #footer
            .block
              %p
                Copyright &copy; #{Time.now.year} dots2done.
        #sidebar
          = yield :sidebar
